.container {
  display: flex;
  gap: 12px;
  background: #f6f7fb;
  height: calc(100vh - 60px);
  padding: 32px;
}

.msgBox, .taskBox{
  box-shadow: 0 2px 7px #e0e0e080;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.msgBox {
  max-width: 30vw;
  min-width: 400px;
  justify-content: space-between;
}

.taskBox {
  flex-grow: 1;
  background: #ffffff;
}
