.container {
  position: relative;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.title {
  display: flex;
  align-items: end;
  margin-bottom: 24px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;

  .quickStart {
    font-size: 20px;
    color: #1d2129e3;
    line-height: 30px;
    font-weight: 600;
    flex: 1;
    text-align: center;
  }

  .refresh {
    cursor: pointer;
    line-height: 20px;
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 12px;
    color: rgba(78, 89, 105, 60%);
  }
}

.listContainer {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media only screen and (max-width: 767.99px) {
  .title {
    width: 100%;

    .quickStart {
      font-size: 16px;
    }
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
