.container {
  text-align: center;
  margin-bottom: 16px;

  .sage {
    width: 128px;
    margin-bottom: 4px;
  }

  h1 {
    font-size: 32px;
    color: #1d2129;
    line-height: 32px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
  }

  .desc {
    font-size: 18px;
    color: #1d2129b7;
    line-height: 32px;
    letter-spacing: 1.13px;
    text-align: center;
    margin: 0;
  }

  .slogan {
    background: linear-gradient(to right, #6d81ba, #6475ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-size: 16px;
  }
}
