.msg {
  display: flex;
  justify-content: flex-end;
}

.query {
  background: #c9dfff;
  box-shadow: 0 4px 10px rgba(51, 113, 242, .1);
  border-radius: 8px;
  padding: 8px 16px;
  max-width: calc(100% - 100px);
  word-break: break-all;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #1d2129;
}
