.datasourceCard {
  display: inline-flex;
  align-items: center;
  height: 32px;
  position: relative;
  padding-left: 8px;
  padding-right: 12px;
  background: rgba(212, 215, 219, 40%);
  border: 1px solid rgba(222, 226, 241, 70%);
  border-radius: 8px;

  img {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
  }

  .title {
    font-size: 12px;
    color: #4e5969;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .desc {
    margin-left: 16px;
    font-size: 10px;
    color: #86909c;
  }

  .delete {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: -12px;
    top: -6px;
  }
}
