.button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 1;
  button {
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
  }
}
