@import '~antd/dist/antd.less';

@primary-color: #873bf4;
@background-color: #f5f5f5;
@background-color-1: #ffffff;
@border-color: #e6e6e6;
@background-color-3: rgba(0, 0, 0, 0.1);

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: @background-color;

  .card {
    background-color: @background-color-1;
    padding: 40px 40px 16px;
    border: 1px solid @border-color;
    border-radius: 4px;
    height: auto;
    box-shadow: 2px 4px 8px @background-color-3; // 添加边框阴影
  }
}
